body{
    background-color: rosybrown;
    font-family: 'Times New Roman', Times, serif;
    padding: 0px;
    margin: 0px;
}

main{
    width: 500px;
    border: 1px solid black;
    text-align: center;
    padding: 30px;
    margin: auto;
    background-color: white;
}

h1 {
    font-family: 'Comic Neue', cursive;
}